PROJECT_NAME=my-aptos-dapp

VITE_APP_NETWORK=testnet

VITE_APTOS_API_KEY=""

VITE_MODULE_PUBLISHER_ACCOUNT_ADDRESS=""

#This is the module publisher account's private key. Be cautious about who you share it with, and ensure it is not exposed when deploying your dApp.

VITE_MODULE_PUBLISHER_ACCOUNT_PRIVATE_KEY=""

VITE_COLLECTION_CREATOR_ADDRESS=""

VITE_COLLECTION_ADDRESS="0x5c7ffe9af77926bbcb444dbdcd0afe1629b6067351f9f0249cfd89d0765367cb"

VITE_MODULE_ADDRESS="0x486579cb27a171a41f851b14dc3e72ea60c7d1323845a9a816633143883d508c"

VITE_MODULE_ADDRESS_TOKEN="0x2b1072e94e60ad3638c1edefd8d5679fd7544c14f96179fa772669f6e465c8b2"

VITE_FA_ADDRESS="0x8e4ca9089419dc3336fa0eec3184ea75cbee8a3bb3c4cf41f1efbf7ed4498d8c"

VITE_FA_CREATOR_ADDRESS=""
